<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Orders</h1>
  <table>
    <thead>
      <tr>
        <th>Продукты</th>
        <th>Заказы в прошлом месяце</th>
        <th>Заказы с первого дня</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td>{{ order.name }}</td>
          <td>{{ order.orders_last_month }}</td>
          <td>{{ order.order_with_first_day }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>